
<div class="row batch-admin">
	<h3>BATCH ADMINISTRATION</h3>
</div>
<div class="wrapper">
	<div class="row">	
		<div class="col-md-12">
			<form class="form-inline">
			  	<div class="form-group">
			    	<label for="action">Action</label>
			    	<select class="form-control" id="action">
			      		<option>VIEW</option>
			      		<option>EXECUTE</option>
			      		<option>DELETE</option>
			   		</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="source">SOURCE</label>
			    	<select class="form-control" id="source">
			      		<option>LOCAL</option>
			      		<option>USB</option>
			      		<option>DELETE</option>
			   		</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="batchFile">BATCH FILE NAME</label>
			    	<input type="file" name="batchFile" id="batchFile" style="display:inline">
			    	<button type="button" class="btn btn-success" ng-click="loadFile()">Load</button>
			  	</div>
			</form>
		</div>
	</div>

	<div class="row row-section">
		<div class="col-md-12">
			<button type="button" class="btn btn-success">Submit</button>
			<button type="button" class="btn btn-success">Clear/Cancel</button>
		</div>
	</div>

	<div class="row row-section">
		<div class="col-md-12">
			<div class="tbl-wrapper">
				<table id="tblBatch" class="table table-bordered">
			 		<thead>
			    		<tr>
				            <th>SEQ</th>
				            <th>BATCH</th>
			    		</tr>
			  		</thead>
			  		<tbody>

			  		</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
