<head>
	<base href="/">
	<title>IPC-BOOTSTRAP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

	<div class="container">

		<topzone></topzone>

		<div ui-view=""></div>
	</div>
<!--
	<div layout="column" layout-fill>
		<topzone id="toolbar" layout="row" layout-padding flex="15"></topzone>

		<div layout="row" flex="85">
			<md-sidenav
					class="md-sidenav-left"
					md-component-id="left"
					md-is-locked-open="$mdMedia('gt-md')"
					md-whiteframe="1"
					layout="column"
					ng-if="$root.currentUser">

				<side-nav layout="column"></side-nav>

			</md-sidenav>

			<div ui-view="" layout-fill></div>
		</div>
	</div>
-->
	<!--
	<div layout="column" layout-fill>
		<toolbar layout="column" flex="15"></toolbar>
		<div ui-view=""></div>
	</div>
	-->

</body>
