<div class="row">
	<div class="col-xs-12">
		<h4>Setup Users</h4>
	</div>
</div>
<hr>
<div class="container-fluid user-container">
	<div class="row">
		<div class="col-sm-4">

			<form class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">ACTION</label>
					<div class="col-sm-7">
						<select class="form-control">
							<option>VIEW USER</option>
							<option>ADD USER</option>
							<option>UPDATE USER</option>
							<option>DELETE USER</option>
							<option>LOCK USER</option>
							<option>UNLOCK USER</option>
						</select>
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">USER NAME</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">USER GROUP</label>
					<div class="col-sm-7">
						<select class="form-control">
							<option>GENERAL</option>
							<option>TECH</option>
							<option>TECH-II</option>
							<option>SUPERVISOR</option>
							<option>ADMIN</option>
							<option>ALL</option>
						</select>
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">FIRST NAME</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">LAST NAME</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">M.I.</label>
					<div class="col-sm-3">
						<input class="form-control">
					</div>
				</div>

			</form>
		</div>

		<div class="col-sm-4">
			<form class="form-horizontal">

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">EID#</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">TITLE</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">PW EXPIRY</label>
					<div class="col-sm-7">
						<select class="form-control">
							<option>YES</option>
							<option>NO</option>
						</select>
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">STATUS</label>
					<div class="col-sm-7">
						<select class="form-control">
							<option>ALL</option>
							<option>ACTIVE</option>
							<option>INACTIVE</option>
							<option>LCK</option>
						</select>
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">TELEPHONE</label>
					<div class="col-sm-6">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">EMAIL ADDRESS</label>
					<div class="col-sm-7">
						<input type="email" class="form-control">
					</div>
				</div>

			</form>
		</div>

		<div class="col-sm-4">
			<form class="form-horizontal">

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">ADDRESS</label>
					<div class="col-sm-8">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">CITY</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">STATE</label>
					<div class="col-sm-6">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">ZIP/POSTAL</label>
					<div class="col-sm-6">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">SUPERVISOR NAME</label>
					<div class="col-sm-7">
						<input class="form-control">
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">COMMENTS</label>
					<div class="col-sm-8">
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-xs-12">
		<table st-table="setupUser.allUsers" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="userGroup">GROUP</th>
					<th st-sort="userName">USER NAME</th>
					<th st-sort="firstName">FIRST NAME</th>
					<th st-sort="lastName">LAST NAME</th>
					<th st-sort="mi">M.I.</th>
					<th st-sort="eid">EID#</th>
					<th st-sort="telephone">TELEPHONE</th>
					<th st-sort="address">ADDRESS</th>
					<th st-sort="city">CITY</th>
					<th st-sort="zip">ZIP</th>
					<th st-sort="status">STATUS</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in setupUser.allUsers">
					<td>{{ user.grp }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.fname }}</td>
					<td>{{ user.lname }}</td>
					<td>{{ user.mi }}</td>
					<td>{{ user.eid }}</td>
					<td>{{ user.tel }}</td>
					<td>{{ user.addr }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.zip }}</td>
					<td>{{ user.stat }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="11" class="text-center">
						<div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
