<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<span>Setup Users</span>
		</h2>
	</div>
</md-toolbar>

<md-tabs md-dynamic-height md-border-bottom md-selected="setupUser.selectedIndex">
	<md-tab id="tab1">
		<md-tab-label>View User</md-tab-label>
		<md-tab-body>
			<div ng-include src="'client/views/user_management/setup_users/view-user/view-user.html'" layout="column"></div>
		</md-tab-body>
	</md-tab>
	<md-tab id="tab2">
		<md-tab-label>Add User</md-tab-label>
		<md-tab-body>
			<md-content layout-padding>
				<div ng-include src="'client/views/user_management/setup_users/add-user/add-user.html'" layout="column"></div>
			</md-content>
		</md-tab-body>
	</md-tab>
</md-tabs>
