<div class="row topzone">

	<div class="col-xs-3">
		<div class="row">
			<div class="col-xs-7">
				<img class="img-responsive" src="/logo/telepathlogowords.png"/>
			</div>
<!--				<div class="col-xs-10">
					<h4>TELEPATH</h4>
				</div>-->
		</div><br>
		<span>{{ topzone.system.hasOwnProperty('license') ? topzone.system.license : "--" }}</span><br>
		<span>{{ topzone.system.hasOwnProperty('release') ? topzone.system.release : "--" }}</span>
	</div>

	<div class="col-xs-6 topzone-middle">
		<h4>INTELLIGENT PROVISIONING CENTER</h4>
		<h4>ELEMENT MANAGER</h4>
		<h5>VZN-949222-FK1</h5>
	</div>

	<div class="col-xs-3">
		<login-buttons id="sign-in"></login-buttons><br>
		<span>Alarm:</span><br>
		<span>Help/Search:</span>
	</div>
</div>

<div class="row nav-bar" ng-if="$root.currentUser">

	<nav class="navbar navbar-default">

		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration</a>
						<ul class="dropdown-menu">
							<li><a href="#" ui-sref="wire-center">Setup Wire Center</a></li>
							<li><a href="#" ui-sref="port-map">Port Mapping</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Provisioning</a>
						<ul class="dropdown-menu">
							<li><a href="#" ui-sref="srv-conn">Setup Service Connections</a></li>
							<li><a href="#" ui-sref="batch-admin">Batch Administration</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintenance</a>
						<ul class="dropdown-menu">
							<li><a href="#" ui-sref="maint-conn">Setup Maint. Connections</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="#" ui-sref="lck-unlck-card">Lock/Unlock Matrix Card</a></li>
							<li><a href="#" ui-sref="lck-unlck-node">Lock/Unlock Matrix Node</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="#" ui-sref="alm-admin">Alarm Administration</a></li>
							<li><a href="#" ui-sref="path-admin">Path Administration</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
						<ul class="dropdown-menu">
							<li><a href="#" ui-sref="alm-log">Alarm Log</a></li>
							<li><a href="#" ui-sref="wc-conf-log">WC-Configuration Log</a></li>
							<li><a href="#" ui-sref="pm-conf-log">PM-Configuration Log</a></li>
							<li><a href="#" ui-sref="maint-log">Maintenance Log</a></li>
							<li><a href="#" ui-sref="prov-log">Provisioning Log</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Management</a>
						<ul class="dropdown-menu">
							<li><a href="#" ui-sref="brdcst-notif">Broadcast Notification</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="#" ui-sref="setup-user">Setup Users</a></li>
							<li><a href="#" ui-sref="user-search">User Search</a></li>
							<li><a href="#" ui-sref="setreset-pwd">Set/Reset User Password</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IPC Administration</a>
						<ul class="dropdown-menu">
							<li><a href="#" ui-sref="backup-data">Backup Database</a></li>
							<li><a href="#" ui-sref="restore-data">Restore Database</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="#" ui-sref="upd-sw-rel">Update SW Releases</a></li>
							<li><a href="#" ui-sref="system-shutdown">System Shutdown</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="#" ui-sref="ipc-ref-data">IPC Reference Data</a></li>
							<li><a href="#" ui-sref="event-log">Event Log</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
