<!--  ###########   TOOLBAR STYLE TOP-ZONE ##########
<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Toggle-Sidebar" hide-gt-md ng-click="toolbar.toggleSidebar()">
			<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
		</md-button>
		<span flex></span>
		<div layout="column" layout-align="center start">
			<span>Power</span>
			<div layout="row" flex>
				<md-button class="md-fab md-tiny" aria-label="Front Power"></md-button>
				<md-button class="md-fab md-tiny md-primary md-hue-1" aria-label="Rear Power"></md-button>
			</div>
		</div>
	</div>
</md-toolbar>
-->

<!--
<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
<div>
    <md-button>Home</md-button>
    <md-button>Item 1</md-button>
    <md-button>Item 2</md-button>
    <md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
        <md-menu-content width="2">
            <md-menu-item>
                <md-button>Help</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>About</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div class="nav-buttons">
    <md-button class="md-raised md-accent">My profile</md-button>
    <md-button class="md-raised md-warn">Log Out</md-button>
</div>
-->



<!--<div layout="row" id="toolbar" flex layout-padding>-->
	<div layout="column" flex="20" layout-align="space-between">
		<span class="md-title">TELEPATH</span>
		<span class="md-subhead">{{ topzone.system.hasOwnProperty('license') ? topzone.system.license : "--" }}</span>
		<span class="md-subhead">{{ topzone.system.hasOwnProperty('release') ? topzone.system.release : "--" }}</span>
		<div layout="row">
		</div>
	</div>

	<div layout="column" flex="60">
		<div layout="column" layout-align="space-between center">
			<span class="md-headline">INTELLIGENT PROVISIONING CENTER</span>
			<span class="md-headline">ELEMENT MANAGER</span>
			<span class="md-subhead">VZN - 949222 - FK1</span>
		</div>

		<div layout="column" layout-align="start end">
			<div layout="row" layout-align="end">
				<span class="md-subhead">Time: 03/25/2016 12:00</span>
			</div>
		</div>
	</div>

	<div layout="column" flex="20" layout-align="space-between">
		<div layout="row" layout-align="space-between">
			<!--<span class="md-subhead">{{ topzone.system.hasOwnProperty('username') ? topzone.system.username : "\-\-" }}</span> -->
			<login-buttons></login-buttons>
		</div>
		<div layout="column" layout-align="end end">
			<div layout="row">
				<span class="md-subhead">Alarm:</span>
				<md-button class="md-raised">{{ topzone.system.hasOwnProperty('alarm') ? topzone.system.alarm : "--" }}</md-button>
			</div>
			<div layout="column">
				<md-input-container class="md-block">
					<label>Help/Search</label>
					<input>
				</md-input-container>
			</div>
		</div>
	</div>
<!--</div>-->
