.topzone {
	background-color: blue;
	color: white;
}

.topzone img {
	margin-top: 2px;
	padding: 2px 2px 2px 2px;
	background-color: white;
}

.topzone-middle {
	text-align: center;
}

#sign-in a {
	color: LightGray;
}
