<div class="row warning-page">
	<h1>WARNING!</h1>
	<span>PRIVATE/PROPRIETARY:</span>
	<span>NO DISCLOSURE OUTSIDE TELEPATH NETWORKS EXCEPT BY WRITTEN AGREEMENT. ANY UNAUTHORIZED ACCESS TO,</span>
	<span>OR MISUSE OF THE SYSTEM OR DATA MAY RESULT IN CIVIL AND/OR CRIMINAL PROSECUTION, EMPLOYEE</span>
	<span>DISCIPLINE UP TO AND INCLUDING DISCHARGE, OR TERMINATION OF VENDOR/SERVICE CONTRACTS.</span>
	<span>THIS SYSTEM ACCESS/USAGE IS MONITORED AND AUDITED.</span>
	<br>
	<br>
	<span>Please sign in to continue.</span>
</div>
