<div layout="row" ng-controller="ViewUser" flex>

	<div flex="15">
		<md-content flex>
			<md-list flex>
				<md-list-item ng-click="toggleGeneral()" ng-class="{active : generalToggle}">
					<p>General</p>
					<div class="md-secondary" layout-align="center center">
						<md-icon md-svg-icon="{{ generalArrow() }}"></md-icon>
					</div>
				</md-list-item>
					<!-- Children of General Tab -->
					<div layout="column" ng-show="generalToggle">
						<md-list-item ng-repeat="user in generalUsers" ng-click="populate(user)">
							<p class="md-secondary">{{ user.fname + " " + user.mi + ". " + user.lname }}</p>
						</md-list-item>
					</div>
				<md-divider></md-divider>

				<md-list-item ng-click="toggleTech()" ng-class="{active : techToggle}">
					<p>Tech</p>
					<div class="md-secondary" layout-align="center center">
						<md-icon md-svg-src="{{ techArrow() }}"></md-icon>
					</div>
				</md-list-item>
					<!-- Children of Tech Tab -->
					<div layout="column" ng-show="techToggle">
						<md-list-item ng-repeat="user in techUsers" ng-click="populate(user)">
							<p class="md-secondary">{{ user.fname + " " + user.mi + ". " + user.lname }}</p>
						</md-list-item>
					</div>
				<md-divider></md-divider>

				<md-list-item ng-click="toggleTech2()" ng-class="{active: tech2Toggle}">
					<p>Tech-II</p>
					<div class="md-secondary" layout-align="center center">
						<md-icon md-svg-src="{{ tech2Arrow() }}"></md-icon>
					</div>
				</md-list-item>
					<!-- Children of Tech-II Tab -->
					<div layout="column" ng-show="tech2Toggle">
						<md-list-item ng-repeat="user in tech2Users" ng-click="populate(user)">
							<p class="md-secondary">{{ user.fname + " " + user.mi + ". " + user.lname }}</p>
						</md-list-item>
					</div>
				<md-divider></md-divider>

				<md-list-item ng-click="toggleSupervisor()" ng-class="{active : supervisorToggle}">
					<p>Supervisor</p>
					<div class="md-secondary" layout-align="center center">
						<md-icon md-svg-src="{{ supervisorArrow() }}"></md-icon>
					</div>
				</md-list-item>
					<!-- Children of Supervisor Tab -->
					<div layout="column" ng-show="supervisorToggle">
						<md-list-item ng-repeat="user in supervisorUsers" ng-click="populate(user)">
							<p class="md-secondary">{{ user.fname +  " " + user.mi + ". " + user.lname }}</p>
						</md-list-item>
					</div>
				<md-divider></md-divider>
		<!--
				<md-list-item ng-repeat="user in users" ng-click="null">
					<div class="md-list-item-text" layout="column">-->
						<!--<h3>{{ user.profile.name }}</h3>-->
						<!--<h4>{{ user.username }}</h4>-->
						<!--<p>{{ getRole(user._id) }}</p>-->
		<!--			</div>
					<md-divider></md-divider>
				</md-list-item>-->
			</md-list>
		</md-content>
	</div>


	<div flex="85" layout="column">
		<md-content layout-padding md-whiteframe="2">
			<form name="userOverview">
				<div layout="row" id="userField">
					<md-input-container flex="10" class="md-block">
						<label>EID#</label>
						<input ng-model="userobj.eid" ng-disabled="updateToggle">
					</md-input-container>
				</div>
				<div layout="row" id="userField">
					<md-input-container flex="15" class="md-block">
						<label>Last Name</label>
						<input ng-model="userobj.lname" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="15" class="md-block">
						<label>First Name</label>
						<input ng-model="userobj.fname" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="5" class="md-block">
						<label>M.I.</label>
						<input ng-model="userobj.mi" ng-disabled="updateToggle">
					</md-input-container>
				</div>
				<div layout="row" id="userField">
					<md-input-container flex="20" class="md-block">
						<label>Username</label>
						<input ng-model="userobj.username" readonly ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Group</label>
						<md-select ng-model="userobj.grp" ng-disabled="updateToggle">
							<md-option value="GENERAL">GENERAL</md-option>
							<md-option value="TECH">TECH</md-option>
							<md-option value="TECH-II">TECH-II</md-option>
							<md-option value="SUPERVISOR">SUPERVISOR</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout="row" id="userField">
					<md-input-container flex="25">
						<label>Address</label>
						<input ng-model="userobj.addr" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="20">
						<label>City</label>
						<input ng-model="userobj.city" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="10">
						<label>State</label>
						<input ng-model="userobj.state" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="5">
						<label>Zip/Postal</label>
						<input ng-model="userobj.zip" ng-disabled="updateToggle">
					</md-input-container>
				</div>
				<div layout="row" id="userField">
					<md-input-container flex="15">
						<label>Title</label>
						<input ng-model="userobj.title" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="20">
						<label>Telephone</label>
						<input ng-model="userobj.tel" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="25">
						<label>Email Address</label>
						<input ng-model="userobj.email" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container>
						<label>Status</label>
						<md-select ng-model="userobj.stat" ng-disabled="updateToggle">
							<md-option value="ALL">ALL</md-option>
							<md-option value="ACTIVE">ACTIVE</md-option>
							<md-option value="INACTIVE">INACTIVE</md-option>
							<md-option value="LCK">LCK</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout="row" id="userField">
					<md-input-container flex="15">
						<label>Supervisor Name</label>
						<input ng-model="userobj.supv" ng-disabled="updateToggle">
					</md-input-container>
					<md-input-container flex="65">
						<label>Comments</label>
						<input ng-model="userobj.comment" ng-disabled="updateToggle">
					</md-input-container>
				</div>
				<div layout="row">
					<md-button ng-click="toggleUpdate()" class="md-primary" ng-disabled="{{!updPermission()}}" ng-class="{'md-raised' : updateToggle}">Update</md-button>
					<md-button ng-click="null" class="md-primary md-raised">Delete</md-button>
					<md-button ng-click="lockUser()" class="md-primary md-raised" ng-disabled="{{!lockPermission()}}">Lock</md-button>
					<md-button ng-click="unlockUser()" class="md-primary md-raised" ng-disabled="{{!lockPermission()}}">Unlock</md-button>
					<md-button ng-click="null" ng-disabled="updateToggle" class="md-primary md-raised">Submit</md-button>
					<md-button ng-click="cancel()" class="md-primary md-raised">Cancel</md-button>
				</div>
			</form>
		</md-content>
	</div>

</div>
