<div layout-fill ng-controller="AddUser">
	<div layout="row" id="userField">
		<md-input-container flex="10">
			<label>EID#</label>
			<input ng-model="userobj.eid">
		</md-input-container>
	</div>
	<div layout="row" id="userField">
		<md-input-container flex="15">
			<label>Last Name</label>
			<input ng-model="userobj.lname">
		</md-input-container>
		<md-input-container flex="15">
			<label>First Name</label>
			<input ng-model="userobj.fname">
		</md-input-container>
		<md-input-container flex="5">
			<label>M.I.</label>
			<input ng-model="userobj.mi">
		</md-input-container>
	</div>
	<div layout="row" id="userField">
		<md-input-container flex="20">
			<label>Username</label>
			<input ng-model="userobj.username">
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input ng-model="userobj.pwd" type="password">
		</md-input-container>
		<md-input-container>
			<label>Group</label>
			<md-select ng-model="userobj.grp">
				<md-option value="GENERAL">GENERAL</md-option>
				<md-option value="TECH">TECH</md-option>
				<md-option value="TECH-II">TECH-II</md-option>
				<md-option value="SUPERVISOR">SUPERVISOR</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div layout="row" id="userField">
		<md-input-container flex="25">
			<label>Address</label>
			<input ng-model="userobj.address">
		</md-input-container>
		<md-input-container flex="20">
			<label>City</label>
			<input ng-model="userobj.city">
		</md-input-container>
		<md-input-container flex="10">
			<label>State</label>
			<input ng-model="userobj.state">
		</md-input-container>
		<md-input-container flex="5">
			<label>Zip/Postal</label>
			<input ng-model="userobj.zip">
		</md-input-container>
	</div>
	<div layout="row" id="userField">
		<md-input-container flex="15">
			<label>Title</label>
			<input ng-model="userobj.title">
		</md-input-container>
		<md-input-container flex="20">
			<label>Telephone</label>
			<input ng-model="userobj.telephone">
		</md-input-container>
		<md-input-container flex="25">
			<label>Email Address</label>
			<input ng-model="userobj.email">
		</md-input-container>
	</div>
	<div layout="row" id="userField">
		<md-input-container flex="15">
			<label>Supervisor Name</label>
			<input ng-model="userobj.supername">
		</md-input-container>
		<md-input-container flex="65">
			<label>Comments</label>
			<input ng-model="userobj.comments">
		</md-input-container>
	</div>
	<div layout="row">
		<md-button ng-click="submit()" class="md-primary md-raised">Submit</md-button>
	</div>
	<span flex></span>
</div>
