<!-- ### CONFIGURATION TAB ### -->
<md-button ng-click="sideNav.toggleCfg()" ng-class="{active : sideNav.cfgToggle}">
	<div layout="row" flex>
		<span>Configuration</span>
		<span flex></span>
		<md-icon md-svg-src="{{ sideNav.cfgArrow() }}"></md-icon>
	</div>
</md-button>
	<!-- Children of Configuration Tab -->
	<div layout="column" ng-show="sideNav.cfgToggle">
		<md-button ui-sref="wire-center">Setup Wire Center</md-button>
		<md-button>Port Mapping</md-button>
	</div>
<md-divider></md-divider>
<!-- ### END CONFIGURATION TAB ### -->

<!-- ### PROVISIONING TAB ### -->
<md-button ng-click="sideNav.toggleProv()" ng-class="{active : sideNav.provToggle}">
	<div layout="row" flex>
		<span>Provisioning</span>
		<span flex></span>
		<md-icon md-svg-src="{{ sideNav.provArrow() }}"></md-icon>
	</div>
</md-button>
<md-divider></md-divider>
<!-- ### END PROVISIONING TAB ### -->

<!-- ### MAINTENANCE TAB ### -->
<md-button ng-click="sideNav.toggleMtn()" ng-class="{active : sideNav.mtnToggle}">
	<div layout="row" flex>
		<span>Maintenance</span>
		<span flex></span>
		<md-icon md-svg-src="{{ sideNav.mtnArrow() }}"></md-icon>
	</div>
</md-button>
<md-divider></md-divider>
<!-- ### END MAINTENANCE TAB ### -->

<!-- ### REPORTS TAB ### -->
<md-button ng-click="sideNav.toggleRep()" ng-class="{active : sideNav.repToggle}">
	<div layout="row" flex>
		<span>Reports</span>
		<span flex></span>
		<md-icon md-svg-src="{{ sideNav.repArrow() }}"></md-icon>
	</div>
</md-button>
<md-divider></md-divider>
<!-- ### END REPORTS TAB ### -->

<!-- ### USER MANAGEMENT TAB ### -->
<md-button ng-click="sideNav.toggleUsrMng()" ng-class="{active : sideNav.usrmngToggle}">
	<div layout="row" flex>
		<span>User Management</span>
		<span flex></span>
		<md-icon md-svg-src="{{ sideNav.usrmngArrow() }}"></md-icon>
	</div>
</md-button>
	<!-- Children of User Management Tab -->
	<div layout="column" ng-show="sideNav.usrmngToggle">
		<md-button>Broadcast Notification</md-button>
		<md-button ui-sref="setup-user">Setup Users</md-button>
		<md-button>User Search</md-button>
		<md-button>Set/Reset User Password</md-button>
	</div>
<md-divider></md-divider>
<!-- ### END USER MANAGEMENT TAB ### -->

<!-- ### IPC ADMINISTRATION TAB ### -->
<md-button ng-click="sideNav.toggleIpcAdm()" ng-class="{active : sideNav.ipcadmToggle}">
	<div layout="row" flex>
		<span>IPC Administration</span>
		<span flex></span>
		<md-icon md-svg-src="{{ sideNav.ipcadmArrow() }}"></md-icon>
	</div>
</md-button>
<md-divider></md-divider>
<!-- ### END IPC ADMINISTRATION TAB ### -->
