.wire-center {
	text-align: center;
}

.wrapper {
    background-color: blue;
    padding: 10px;
}

/*.form-group {
    margin-top: 25px !important;
}*/

.form-group label {
    display: block;
    color: #fff;
}

.row-section {
    margin-top: 20px
}

.tbl-wrapper {
	background-color: #fff;
	width: 100%;
	height: 300px;
	overflow: scroll;
	margin-bottom: 20px;
}

div.dataTables_wrapper {
        width: 800px;
    }
