<div class="row wire-center">
	<h3>WIRE CENTER</h3>
</div>
<div class="wrapper">
	<div class="row">	
		<div class="col-md-12">
			<form class="form-inline">
			  	<div class="form-group">
			    	<label for="wcName">WC_Name</label>
			    	<input type="text" class="form-control" id="wcName" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="wcc">WCC</label>
			    	<input type="txt" class="form-control" id="wcc" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="clli">CLLI</label>
			    	<input type="txt" class="form-control" id="clli" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="npanxx">NPANXX</label>
			    	<input type="txt" class="form-control" id="npanxx" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="otherName">OTHER_NAME</label>
			    	<input type="txt" class="form-control" id="otherName" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="frmId">FRM_ID/TERM...</label>
			    	<input type="txt" class="form-control" id="frmId" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="ipcModel">IPC_MODEL</label>
			    	<select class="form-control" id="ipcModel">
			      		<option>64</option>
			   		</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="ipcTyp">IPC_TYP</label>
			    	<select class="form-control" id="ipcTyp">
			      		<option>CO</option>
			      		<option>CO-L</option>
			      		<option>OSP</option>
			    	</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="ipcStat">IPC_STAT</label>
			    	<select class="form-control" id="ipcStat">
			      		<option>INS</option>
			      		<option>UNQ</option>
					</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="ipcIpadr">IPC_IPADR</label>
			    	<input type="txt" class="form-control" id="ipcIpadr" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="ipcNetmask">IPC_NETMASK</label>
			    	<input type="txt" class="form-control" id="ipcNetmask" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="ipcGateway">IPC_GATEWAY</label>
			    	<input type="txt" class="form-control" id="ipcGateway" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="gwyipadr">GWY_IPADR</label>
			    	<input type="txt" class="form-control" id="gwyipadr" placeholder="">
			  	</div>
			  	<div class="form-group">
			   	 	<label for="year">YEAR</label>
					<select class="form-control" id="year">
			      		<option>INS</option>
			      		<option>UNQ</option>
			    	</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="month">MONTH</label>
			    	<select class="form-control" id="month">
			      		<option>INS</option>
			      		<option>UNQ</option>
					</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="day">DAY</label>
			    	<select class="form-control" id="day">
			      		<option>INS</option>
			      		<option>UNQ</option>
			    	</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="hour">HOUR</label>
			    	<select class="form-control" id="hour">
			      		<option>INS</option>
			      		<option>UNQ</option>
			    	</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="minute">MINUTE</label>
			    	<select class="form-control" id="minute">
			      		<option>INS</option>
			      		<option>UNQ</option>
			    	</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="companay">COMPANY</label>
			    	<input type="txt" class="form-control" id="company" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="region">REGION</label>
			    	<input type="txt" class="form-control" id="region" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="area">AERA</label>
			    	<input type="txt" class="form-control" id="area" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="district">DISTRICT</label>
			    	<input type="txt" class="form-control" id="district" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="manager">MANAGER</label>
			    	<input type="txt" class="form-control" id="manager" placeholder="">
			  	</div>
			</form>
		</div>
	</div>

	<div class="row row-section">
		<div class="col-md-12">
		<button type="button" class="btn btn-success">View</button>
		<button type="button" class="btn btn-success">Add</button>
		<button type="button" class="btn btn-success">Update</button>
		<button type="button" class="btn btn-success">Delete</button>
		<button type="button" class="btn btn-success">Clear</button>
		<button type="button" class="btn btn-success">Auto Discover</button>
		</div>
	</div>

	<div class="row row-section">
		<div class="col-md-12">
			<div class="tbl-wrapper">
				<table id="tblWc" class="table table-bordered" width="100%">
			 		<thead>
			    		<tr>
			      			<th></th>
			              	<th>WC_NAME</th>
			              	<th>WCC</th>
			              	<th>CLLI</th>
			              	<th>NPANXX</th>
			              	<th>T_ZONE</th>
			              	<th>FRM/TERM_ID</th>
			              	<th>IPC_STAT</th>
			              	<th>IPC_MOD</th>
			              	<th>IPC_TYP</th>
			              	<th>LOC/TERM_ADR</th>
			              	<th>CITY</th>
			              	<th>STATE</th>
			              	<th>ZIP</th>
			              	<th>GPS_ADR</th>
			    		</tr>
			  		</thead>
			  		<tbody>
			    		<tr>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			      			<td></td>
			    		</tr>
			  		</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
